.signInScreen{
    max-width: 300px;
    padding:70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.8);
}
.signInScreen > form > h1{
    text-align:left;
    margin-bottom:25px;
}
.signInScreen > form{
    display:grid;
    flex-direction: column;
}
.signInScreen >form >input{
    height:40px;
    margin-bottom: 15px;
    outline-width: 0;
    border-radius: 0.3rem;
    padding: 5px 15px ;
}
.signIn_btn{
    background-color: #e50914;
    color:white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.3rem;
    padding:16px 20px;
    outline-width: 0;
    border: none;
    cursor:pointer;
    margin-top:20px;
}
.signInScreen > form > h4{
    margin-top: 15px;
    text-align: left;
}
.signinScreen__gray{
    color:gray;  
}
.signinScreen__link{
    font-weight:400;
    color: white;
}
.signinScreen__link:hover{
    cursor:pointer;
    text-decoration:underline;
    
}